---
---
<div class="row">
  {% if site.enable_publication_thumbnails %}
    <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
      {% if entry.preview %}
        {% if entry.preview contains '://' %}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
        {% else %}
          {% assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' %}
          {%
            include figure.liquid
            path=entry_path
            sizes = "200px"
            class="preview z-depth-1 rounded"
            zoomable=false
            alt=entry.preview
          %}
        {% endif %}
      {% elsif entry.abbr %}
        {% if site.data.venues[entry.abbr] %}
          {% assign venue_style = null %}
          {% if site.data.venues[entry.abbr].color != blank %}
            {% assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' %}
          {% endif %}
          <abbr
            class="badge"
            {% if venue_style %}
              {{ venue_style }}
            {% endif %}
            ><a href="{{site.data.venues[entry.abbr].url}}">{{ entry.abbr }}</a></abbr
          >
        {% else %}
          <abbr class="badge">{{ entry.abbr }}</abbr>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <!-- Entry bib key -->
  <div id="{{entry.key}}" class="{% if site.enable_publication_thumbnails %}col-sm-8{% else %}col-sm-12{% endif %}">
    {% assign venue_abbr = entry.abbr %}
    {% if venue_abbr == blank %}
      {% if entry.type == 'article' %}
        {% assign venue_source = entry.journal %}
      {% else %}
        {% assign venue_source = entry.booktitle %}
      {% endif %}
      {% if venue_source contains '(' %}
        {% assign venue_parts = venue_source | split: '(' %}
        {% assign venue_abbr = venue_parts | last | remove: ')' | strip %}
      {% elsif venue_source contains 'Journal of Computer Science and Technology' %}
        {% assign venue_abbr = 'JCST' %}
      {% else %}
        {% assign venue_abbr = venue_source %}
      {% endif %}
    {% endif %}
    {% assign short_year = entry.year | slice: 2, 2 %}

    <div class="publication-citation-line">
      {% assign entry_note_normalized = entry.note | downcase | strip %}
      {% if entry_note_normalized == 'to appear' %}
        <span class="publication-status">Accepted</span>
      {% endif %}
      <span class="venue-prefix">[{{ venue_abbr }}'{{ short_year }}]</span>
      <span class="author">
      {% assign author_array_size = entry.author_array | size %}

      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}
      {% assign first_author = entry.author_array | first %}
      {% assign first_author_is_advised = false %}
      {% if first_author.last contains '†' %}
        {% assign first_author_is_advised = true %}
      {% endif %}

      {% for author in entry.author_array limit: author_array_limit %}
        {% assign author_is_self = false %}
        {% assign author_last_name = author.last | remove: '¶' | remove: '&' | remove: '*' | remove: '†' | remove: '^' %}
        {% if site.scholar.last_name contains author_last_name %}
          {% if site.scholar.first_name contains author.first %}
            {% assign author_is_self = true %}
          {% endif %}
        {% endif %}
        {% assign coauthor_url = null %}
        {% assign clean_last_name = author_last_name | downcase | remove_accents %}
        {% if site.data.coauthors[clean_last_name] %}
          {% for coauthor in site.data.coauthors[clean_last_name] %}
            {% if coauthor.firstname contains author.first %}
              {% assign coauthor_url = coauthor.url %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if forloop.length > 1 %}
          {% if forloop.first == false %},&nbsp;{% endif %}
          {% if forloop.last and author_array_limit == author_array_size %}and&nbsp;{% endif %}
        {% endif %}
        {% if author_is_self %}
          <span class="author-self">
            {{- author.first }}
            {{ author.last -}}
          </span>
          {% if first_author_is_advised and forloop.last and author_array_limit == author_array_size %}
            <sup class="corresponding-author" title="Corresponding author">#</sup>
          {% endif %}
        {% else %}
          {% if coauthor_url %}
            <a href="{{coauthor_url}}">
              {{- author.first }}
              {{ author.last -}}
            </a>
          {% else %}
            {{ author.first }}
            {{ author.last }}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign more_authors = author_array_size | minus: author_array_limit %}

      {% assign more_authors_hide = more_authors | append: ' more author' %}
      {% if more_authors > 0 %}
        {% if more_authors > 1 %}
          {% assign more_authors_hide = more_authors_hide | append: 's' %}
        {% endif %}
        {% assign more_authors_show = '' %}
        {% for author in entry.author_array offset: author_array_limit %}
          {% assign more_authors_show = more_authors_show | append: author.first | append: ' ' | append: author.last %}
          {% unless forloop.last %}
            {% assign more_authors_show = more_authors_show | append: ', ' %}
          {% endunless %}
        {% endfor %}
        , and
        <span
          class="more-authors"
          title="click to view {{more_authors_hide}}"
          onclick="
              var element = $(this);
              element.attr('title', '');
              var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
              var cursorPosition = 0;
              var textAdder = setInterval(function(){
                element.text(more_authors_text.substring(0, cursorPosition + 1));
                if (++cursorPosition == more_authors_text.length){
                  clearInterval(textAdder);
                }
            }, '{{site.more_authors_animation_delay}}');
          "
        >
          {{- more_authors_hide -}}
        </span>
      {% endif %}
      </span>
    </div>
    <div class="title">{{ entry.title }}</div>

    <!-- Journal/Book title and date -->
    {% assign proceedings = 'inproceedings,incollection' | split: ',' %}
    {% assign thesis = 'thesis,mastersthesis,phdthesis' | split: ',' %}
    {% if entry.type == 'article' %}
      {% capture entrytype %}<em>{{entry.journal}}</em>{% endcapture %}
    {% elsif proceedings contains entry.type %}
      {% capture entrytype %}<em>{{entry.booktitle}}</em>{% endcapture %}
    {% elsif thesis contains entry.type %}
      {% capture entrytype %}<em>{{entry.school}}</em>{% endcapture %}
    {% else %}
      {% capture entrytype %}{% endcapture %}
    {% endif %}
    {% if entry.month %}
      {% capture entrymonth %}{{ " " }}{{ entry.month | capitalize }}{% endcapture %}
    {% endif %}
    {% if entry.year %}
      {% capture entryyear %}{{ " " }}{{entry.year}}{% endcapture %}
    {% endif %}
    {% assign entrytype_text = entrytype | strip_html | strip %}
    {% capture periodical %}{{ entrytype }}{% if entrytype_text != "" and entryyear != "" %}, {% endif %}{{ entrymonth }}{{ entryyear }}{% endcapture %}

    <div class="publication-meta-line">
      <span class="periodical">{{ periodical | strip }}</span>
      {% if entry.note and entry_note_normalized != 'to appear' %}
        <span class="publication-note">{{ entry.note | strip }}</span>
      {% endif %}

      <!-- Compact publication links -->
      <span class="links publication-icon-links">
      {% if entry.abstract %}
        <a class="abstract publication-icon" role="button" title="Abstract" aria-label="Abstract"><i class="fa-solid fa-align-left"></i></a>
      {% endif %}
      {% if entry.arxiv %}
        <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="publication-icon" title="arXiv" aria-label="arXiv"
          ><i class="fa-solid fa-file-lines"></i
        ></a>
      {% endif %}
      {% if entry.bibtex_show %}
        <a class="bibtex publication-icon" role="button" title="BibTeX" aria-label="BibTeX"><i class="fa-solid fa-quote-right"></i></a>
      {% endif %}
      {% if entry.html %}
        <a href="{{ entry.html }}" class="publication-icon" title="HTML" aria-label="HTML"><i class="fa-solid fa-globe"></i></a>
      {% endif %}
      {% if entry.pdf %}
        {% if entry.pdf contains '://' %}
          <a href="{{ entry.pdf }}" class="publication-icon" title="PDF" aria-label="PDF"><i class="fa-solid fa-file-pdf"></i></a>
        {% else %}
          <a
            href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}"
            class="publication-icon"
            title="PDF"
            aria-label="PDF"
            ><i class="fa-solid fa-file-pdf"></i
          ></a>
        {% endif %}
      {% endif %}
      {% if entry.supp %}
        {% if entry.supp contains '://' %}
          <a href="{{ entry.supp }}" class="publication-icon" title="Supplement" aria-label="Supplement"
            ><i class="fa-solid fa-paperclip"></i
          ></a>
        {% else %}
          <a
            href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}"
            class="publication-icon"
            title="Supplement"
            aria-label="Supplement"
            ><i class="fa-solid fa-paperclip"></i
          ></a>
        {% endif %}
      {% endif %}
      {% if entry.video %}
        <a class="abstract publication-icon" role="button" title="Video" aria-label="Video"><i class="fa-solid fa-video"></i></a>
      {% endif %}
      {% if entry.blog %}
        <a href="{{ entry.blog }}" class="publication-icon" title="Blog" aria-label="Blog"><i class="fa-solid fa-pen-nib"></i></a>
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" class="publication-icon" title="Code" aria-label="Code"><i class="fa-brands fa-github"></i></a>
      {% endif %}
      {% if entry.poster %}
        {% if entry.poster contains '://' %}
          <a href="{{ entry.poster }}" class="publication-icon" title="Poster" aria-label="Poster"><i class="fa-solid fa-image"></i></a>
        {% else %}
          <a
            href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}"
            class="publication-icon"
            title="Poster"
            aria-label="Poster"
            ><i class="fa-solid fa-image"></i
          ></a>
        {% endif %}
      {% endif %}
      {% if entry.slides %}
        {% if entry.slides contains '://' %}
          <a href="{{ entry.slides }}" class="publication-icon" title="Slides" aria-label="Slides"><i class="fa-solid fa-display"></i></a>
        {% else %}
          <a
            href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}"
            class="publication-icon"
            title="Slides"
            aria-label="Slides"
            ><i class="fa-solid fa-display"></i
          ></a>
        {% endif %}
      {% endif %}
      {% if entry.website %}
        <a href="{{ entry.website }}" class="publication-icon" title="Website" aria-label="Website"><i class="fa-solid fa-link"></i></a>
      {% endif %}
      </span>
    </div>
    {% if site.enable_publication_badges %}
      {% assign entry_has_altmetric_badge = entry.altmetric or entry.doi or  entry.eprint or entry.pmid or entry.isbn %}
      {% assign entry_has_dimensions_badge = entry.dimensions or entry.doi or entry.pmid %}
      {% if entry_has_altmetric_badge or entry_has_dimensions_badge %}
        <div class="badges">
          {% if site.enable_publication_badges.altmetric and entry_has_altmetric_badge %}
            <span
              class="altmetric-embed"
              data-hide-no-mentions="true"
              data-hide-less-than="15"
              data-badge-type="2"
              data-badge-popover="right"
              {% if entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.altmetric %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.dimensions and entry_has_dimensions_badge %}
            <span
              class="__dimensions_badge_embed__"
              {% if entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else %}
                data-pmid="{{ entry.pmid }}"
              {% else %}
                data-id="{{ entry.dimensions }}"
              {% endif %}
              data-hide-zero-citations="true"
              data-style="small_rectangle"
              data-legend="hover-right"
              style="margin-bottom: 3px;"
            ></span>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    {% if entry.abstract %}
      <!-- Hidden abstract block -->
      <div class="abstract hidden">
        <p>{{ entry.abstract }}</p>
      </div>
    {% endif %}

    {% if entry.bibtex_show %}
      <!-- Hidden bibtex block -->
      <div class="bibtex hidden">
        {% highlight bibtex %}
        {{- entry.bibtex | hideCustomBibtex -}}
        {% endhighlight %}
      </div>
    {% endif %}

    {% if entry.video %}
      <!-- Hidden video block -->
      <div class="abstract hidden">
        <div style="text-align: center;">{% include video.liquid path=entry.video class="img-fluid rounded z-depth-1" controls=true %}</div>
      </div>
    {% endif %}
  </div>
</div>
